# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables - لا ترفعهم أبدا!
.env
server/.env
client/.env

# Build Output
client/dist/
client/build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
